@import "_mixins.scss";

@include responsive_320 {

}

@include responsive_375 {

}

@include responsive_425 {

}

@include responsive_768 {

}

@include responsive_992 {

}

@include responsive_1024 {
    #main {
        .home-about {
            .about-right {
                padding-left: 15px;
            }
        }
    }
}

@include responsive_1200 {
    #footer .footer-top .box-video .embed-responsive-4by3::before {
        padding-top: 88%
    }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1349px) {
    #footer {
        .footer-bottom {
            padding: 25px 0;
        }
    }
}

@media only screen and (max-width: 1024px) {
    #header {
        .header-main {
            padding: 0;
            .navbar {
                .logo img {
                    max-height: 50px;
                }
                .nav {
                    >ul >li >a {
                        font-size: 14px;
                        >i {
                            vertical-align: top;
                        }
                    }
                    ul li a {
                        margin: 0 5px;
                    }
                }
            }
        }
    }

    #main {
        .home-services {
            .service-item {
                margin-bottom: 30px;
            }
        }

        .home-slide {
            padding: 0 0 30px;
        }

        .home-kols {
            .owl-kols {
                margin-bottom: 30px;

                .kol-inner .info .name {
                    font-size: 20px;
                }
            }
        }
    }

    #footer {
        .footer-top {
            .col-left {
                margin-bottom: 30px;
            }

            .col-right {
                .box-info {
                    .info {
                        img {
                            max-width: 160px;
                        }
                    }
                }
            }
        }

        .footer-bottom {
            padding: 25px 0;
        }
    }
}

@media only screen and (max-width: 991px) {
    #header {
        .header-main {
            padding: 0;
        }
    }

    #main {
        .home-about {
            .about-right {
                padding-left: 15px;
                margin-top: 15px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #footer .footer-top .col-left {
        padding-left: 0;
        padding-right: 0;
    }
}
