@import "_variables.scss";
@import "_mixins.scss";

@include font-face(UTM-Duepuntozero, "../fonts/UTM-Duepuntozero", 400, normal, swap, ttf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue-Light", 300, normal, swap, ttf otf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue-Light-Italic", 300, italic, swap, ttf otf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue", 400, normal, swap, ttf otf);

*, *:before, *:after {
    @include prefix((box-sizing: border-box), webkit moz);
    margin: 0;
    padding: 0;
}

html {
    overflow: visible !important;
    margin: 0 !important;
}

body {
    font: 400 14px "HelveticalNeue", sans-serif;
    color: $text_color;
    background-color: #fff;
    line-height: 1.5;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'UTM-Duepuntozero', sans-serif;
    font-weight: 400;
    display: block;
    color: $text_color;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul li, ol li {
    list-style: none;
}

a {
    @include prefix((transition: all .3s ease-in-out), webkit moz o);
}

img {
    max-width: 100%;
    height: auto;
}

%section {
    padding: 60px 0;
}

%title {
    font-weight: 600;
    font-size: 40px;
    color: $theme_color;
    margin-bottom: 45px;
    text-transform: capitalize;
    text-align: center;
}

%card-item {
    padding: 0 15px;

    .news-item-inner {
        border-radius: 4px;
        background: white;
        overflow: hidden;

        > a {
            border-radius: 0 0 100% 100%;
            display: block;
            overflow: hidden;
            margin: 0 -80px;
            padding: 0 80px;
            @include prefix((transform: translateZ(0)), webkit moz ms o);
            text-align: center;

            > img {
                @include prefix((border-radius: 4px), webkit moz);
                @include prefix((transition: all .3s ease-in-out), webkit moz o);

                &:hover {
                    @include prefix((transform: scale(1.1)), webkit moz ms o);
                }
            }
        }

        .content {
            a {
                text-decoration: none;

                h4 {
                    color: $theme_color;
                    margin-top: 15px;
                }
            }

            .desc {
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }
}

%widget-news-item {
    .info {
        .name {
            margin: 10px 0;
            font: 700 18px "UTM-Duepuntozero", sans-serif;

            a {
                color: $theme_color;
            }
        }

        .list-inline .list-inline-item {
            font-size: 13px;
            color: #777;

            i {
                margin-right: 10px;
                color: $theme_color_two;
            }
        }
    }
}

.page-breadcrumb {
    position: relative;
    padding: 100px 0 30px;
    background: transparent url("../img/bg-breadcrumb.jpg") center no-repeat;

    .h1 {
        font-weight: 600;
        font-size: 16px;
        color: $theme_color;
        padding-left: 45px;
        position: relative;

        &:before {
            @include pseudo;
            width: 30px;
            height: 2px;
            background-color: $theme_color;
            left: 0;
            top: 50%;
            @include prefix((transform: translateY(-50deg)), webkit moz);
        }
    }

    h1 {
        font-weight: 600;
        font-size: 55px;
        color: $theme_color;
        margin-bottom: 0;
    }

    ul.breadcrumb {
        background: transparent;
        padding-left: 0;
        padding-right: 0;
        margin: 0;

        .breadcrumb-item {
            color: $theme_color
        }
    }
}

.overflow-hidden {
    overflow: hidden;
    position: relative;
}

.radius-niz-mini {
    border-radius: 0 0 100% 100%;
    display: block;
    overflow: hidden;
    margin: 0 -380px;
    padding: 0 380px;
    transform: translateZ(0);
    text-align: center;
}

.view-more {
    display: inline-block;
    padding: 3px;
    border: 1px solid $theme_color;
    @include prefix((border-radius: 50px), webkit moz);
    @include prefix((box-shadow: 0 2px 6px 0 $box_shadow_color), webkit moz);

    a {
        display: block;
        font-size: 16px;
        background-color: $theme_color;
        color: #fff;
        padding: 5px 15px;
        border: 1px solid $theme_color;
        @include prefix((border-radius: 50px), webkit moz);
        text-transform: uppercase;
    }

    &:hover {
        border-color: $theme_color_two;

        a {
            text-decoration: none;
            background-color: $theme_color_two;
            border-color: $theme_color_two;
        }
    }
}

.mburger {
    --mb-button-size: 47px !important;
    --mb-bar-height: 2px !important;
    --mb-bar-spacing: 8px !important;
}

.mm-wrapper__blocker {
    z-index: 99 !important;
}

#site-wrap {
    position: relative;
    z-index: 99;
    padding-top: 158px;
}

#header {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;

    .header-top {
        background-color: $theme_color;
        color: #fff;
        padding: 5px;

        .navbar-top {
            display: flex;
            @include prefix((flex-wrap: nowrap), webkit moz o);
            justify-content: space-between;

            ul li {
                float: left;
                font-size: 12px;

                a {
                    color: #fff;
                }
            }

            ul.info {
                li {
                    margin: 5px 20px 5px 0;

                    &:last-child {
                        margin-right: 0;
                    }

                    span {
                        margin-left: 4px;
                    }
                }
            }
        }
    }

    .header-main {
        background-color: #fff;
        box-shadow: 0 2px 9px 0 rgba(0, 0, 0, .1);
        @include prefix((transition: all .5s ease-in-out), webkit moz o);

        .navbar {
            width: 100%;
            z-index: 2;

            .logo img {
                max-height: 60px;
            }

            .nav {
                position: relative;

                a {
                    @include prefix((transition: all .3s ease-in-out), webkit moz o);
                }
            }

            .nav > ul > li {
                float: left;
                display: block;
                padding: 0;
                margin: 0;
                text-align: center;

                > a {
                    display: block;
                    position: relative;
                    padding: 10px 5px;
                    margin: 0 10px;
                    font-size: 16px;
                    color: $text_color;
                    text-transform: uppercase;
                    border-bottom: 2px solid transparent;

                    > i {
                        display: inline-block;
                        font-size: 14px;
                        line-height: inherit;
                        margin: 0 6px;
                        color: #55606c;
                        vertical-align: middle;
                    }
                }

                &:hover > a {
                    color: $theme_color_two;
                    border-color: $theme_color_two;
                    text-decoration: none;
                }

                &.active > a {
                    color: $theme_color_two;
                    border-color: $theme_color_two;
                    text-decoration: none;
                }

                > ul.sub-menu {
                    position: absolute;
                    top: 70px;
                    z-index: 1;
                    margin: 0;
                    padding: 0;
                    min-width: 190px;
                    background-color: #fff;
                    border: 1px solid #eee;
                    opacity: 0;
                    visibility: hidden;
                    @include prefix((transition: all .3s ease-in-out), webkit moz ms o);
                    @include prefix((transform-origin: 0% 0%), webkit moz ms o);
                    @include prefix((transform-style: preserve-3d), webkit moz o);
                    @include prefix((transform: rotateX(-75deg)), webkit moz o);

                    > li {
                        position: relative;
                        margin: 0;
                        padding: 0;
                        display: block;

                        > a {
                            background-image: none;
                            color: #666;
                            text-align: left;
                            display: block;
                            line-height: 22px;
                            padding: 8px 12px;
                            text-transform: none;
                            font-size: 14px;
                            letter-spacing: normal;
                            border-right: 0px solid;
                            @include prefix((transition: all .3s ease-in-out), webkit moz);

                            > i {
                                margin-right: 9px;
                            }
                        }

                        &:hover > a {
                            background-color: $theme_color;
                            color: #fff;
                            text-decoration: none;
                        }
                    }

                }

                &:hover > ul.sub-menu {
                    opacity: 1;
                    visibility: visible;
                    @include prefix((transform: rotateX(0deg)), webkit moz o);
                }

                > .mega-menu {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    top: 60px;
                    color: #000;
                    //z-index: 1000;
                    margin: 0;
                    text-align: left;
                    padding: 14px 5px;
                    font-size: 15px;
                    border: solid 1px #eeeeee;
                    background-color: #fff;
                    opacity: 0;
                    visibility: hidden;
                    @include prefix((transition: all .3s ease-in-out), webkit moz o);
                    @include prefix((transform-origin: 0% 0%), webkit moz ms o);
                    @include prefix((transform-style: preserve-3d), webkit);
                    @include prefix((transform: rotateX(-75deg)), webkit moz o);

                    &.half-menu {
                        width: 50%;
                        right: auto;
                        left: auto;
                    }

                    .title {
                        border-bottom: 1px solid #CCC;
                        padding: 9px 5px 9px 0;
                        font-size: 17px;
                        color: #424242;
                        margin: 0 0 7px 0;
                        //height: 39px;
                        display: flex !important;
                        align-items: center;

                        > img {
                            width: 24px;
                            margin-right: 5px;
                        }
                    }

                    &:not(.half-menu) .link-list {
                        &:nth-child(1) .title {
                            color: #b47bc9;
                        }

                        &:nth-child(2) .title {
                            color: #a9dae8;
                        }

                        &:nth-child(3) .title {
                            color: #fbae17;
                        }

                        &:nth-child(4) .title {
                            color: #b5efce;
                        }
                    }

                    .link-list li {
                        display: block;
                        white-space: nowrap;
                        text-align: left;

                        a {
                            line-height: 18px;
                            border-right: none;
                            text-align: left;
                            padding: 6px 0;
                            border-right: 0 none;
                            display: block;
                            background-color: #fff;
                            color: #424242;
                            font-size: 14px;

                            i {
                                margin-right: 5px;
                                text-align: center;
                                width: 18px;
                                font-size: 11px;
                            }
                        }

                        &:hover a {
                            color: $theme_color_two;
                        }
                    }
                }

                &:hover > .mega-menu {
                    opacity: 1;
                    visibility: visible;
                    @include prefix((transform: rotateX(0deg)), webkit moz o);
                }
            }
        }
    }
}

.slider-show {
    .slider-show-heading {
        min-height: 700px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 105px 15px 0;
        text-align: left;

        .slider-show-image {
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            left: 0;
            top: 0;
        }

        .caption {
            max-width: 450px;
            text-align: justify;
            float: left;

            h4 {
                color: $theme_color;
                font-size: 45px;
                font-weight: 300;
                //line-height: 82px;
                text-transform: capitalize;

                strong {
                    font-weight: 600;
                    font-size: 75px;
                    letter-spacing: 3.7px;
                }
            }

            .slider-show-info {
                font-size: 16px;
                line-height: 32px;
                margin: 24px 0 44px 0;
            }
        }
    }
}

#main {
    .home-about {
        @extend %section;

        .about-left {
            .about-image {
                @include prefix((box-shadow: 0 2px 6px 0 $box_shadow_color), webkit moz);
            }
        }

        .about-right {
            padding-left: 30px;

            .about-title {
                font-weight: 600;
                font-size: 24px;
                text-transform: uppercase;
                color: $theme_color;
                margin-bottom: 10px;

                strong {
                    font-size: 64px;
                    text-transform: capitalize;
                }
            }

            .about-text {
                text-align: justify;
                margin-bottom: 20px;
            }

            .view-more {
                float: right;
            }
        }
    }

    .home-best-thing {
        @extend %section;
        padding-top: 0;

        .best-thing-title {
            @extend %title;
        }

        .news-item {
            @extend %card-item;
        }
    }

    .home-services {
        @extend %section;
        padding-top: 0;

        .services-title {
            @extend %title;
        }

        .service-item {
            text-align: center;

            .inner {
                padding: 20px;
                height: 100%;
                @include prefix((border-radius: 10px), webkit moz);
                @include prefix((box-shadow: 0 2px 6px 0 $box_shadow_color), webkit moz);

                .title {
                    font-size: 30px;
                    margin: 15px 0;
                }

                .desc {
                    text-align: justify;
                    text-align-last: center;
                }

                img {
                    @include prefix((transition: all .5s ease-in-out), webkit moz);
                }

                &:hover img {
                    @include prefix((transform: rotateY(360deg)), webkit moz o);
                }
            }

            &:nth-child(1) .title {
                color: #b47bc9;
            }

            &:nth-child(2) .title {
                color: #a9dae8;
            }

            &:nth-child(3) .title {
                color: #fbae17;
            }

            &:nth-child(4) .title {
                color: #b5efce;
            }
        }
    }

    .home-slide {
        padding-bottom: 60px;

        .owl-slide {
            .slideshow-img {
                position: relative;

                &:before {
                    @include pseudo();
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .2);
                }
            }

            .owl-dots {
                margin: 20px 0;

                .owl-dot {
                    &.active button {
                        color: #fff;
                        //@include prefix((transform: scale(1.1)), webkit moz ms o);
                        &:before {
                            background-color: $theme_color_two;
                        }

                        &:after {
                            border-color: $theme_color_two;
                            @include prefix((transform: rotate(45deg)), webkit moz ms o);
                        }
                    }

                    button {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        color: $theme_color;
                        margin: 10px;
                        font-weight: 600;
                        text-align: center;
                        line-height: 30px;
                        outline: none;

                        &:before {
                            @include pseudo();
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            @include prefix((border-radius: 3px), webkit moz);
                            @include prefix((transform: rotate(45deg)), webkit moz ms o);
                            background: rgba(247, 79, 139, 0.2);
                            z-index: -1;
                        }

                        &:after {
                            @include pseudo();
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            border: 3px solid #9a258f;
                            @include prefix((border-radius: 3px), webkit moz);
                            @include prefix((transition: all .3s ease-in-out), webkit moz);
                        }

                        &:hover:after {
                            @include prefix((transform: rotate(45deg)), webkit moz ms o);
                        }

                        &:active {
                            color: #fff;
                            //@include prefix((transform: scale(1.1)), webkit moz ms o);
                            &:before {
                                background-color: $theme_color_two;
                            }

                            &:after {
                                border-color: $theme_color_two;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-kols {
        @extend %section;
        padding-top: 0;

        .col-left {
            .title {
                @extend %title;
                margin-bottom: 35px;
            }

            .kol-text {
                position: relative;
                padding: 15px 30px;
                margin-bottom: 15px;
                background: #e2d2e2;
                font-family: "HelveticalNeue";
                font-style: italic;
                @include prefix((border-radius: 50px), webkit moz);
                @include prefix((box-shadow: 0px 2px 6px 0 $box_shadow_color), webkit moz);
                min-height: 72px;

                &:after {
                    @include css-triangle(#e2d2e2, down, 20px);
                    top: 100%;
                    left: 12%;
                }
            }

            .owl-kols {
                padding: 0 15px;
                @include prefix((border-radius: 5px), webkit moz);

                .kol-inner {
                    text-align: center;
                    margin: 5px 0;
                    @include prefix((box-shadow: 0 0 6px 0 $box_shadow_color), webkit moz);
                    @include prefix((border-radius: 5px), webkit moz);
                    overflow: hidden;

                    .info {
                        padding: 10px;

                        .name {
                            margin-bottom: 10px;
                            color: $theme_color;
                            font-weight: 600;
                        }

                        .career {
                            color: $theme_color_two;
                        }
                    }
                }
            }
        }
    }

    .home-customers {
        @extend %section;
        background: transparent url("../img/bg-customers.jpg") repeat left top;

        .customer-title {
            @extend %title;
            color: #fff;
        }

        .testimonial-text {
            position: relative;
            padding-top: 50px;
            padding-bottom: 40px;
            text-align: center;
            font-style: italic;
            font-size: 16px;
            color: #fff;

            &:before {
                content: "\f10d";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font: 900 normal 32px "Font Awesome 5 Free";
                position: absolute;
                top: 0;
                left: 50%;
                @include prefix((transform: translateX(-50%)), webkit moz ms o);
            }
        }

        .owl-customers {
            .owl-item {
                @include prefix((transition: all .4s ease-in-out), webkit moz ms o);

                &.center {
                    transform: scale(1);
                    opacity: 1;
                }

                &:not(.center) {
                    transform: scale(0.85);
                    opacity: 0.7;
                }
            }

            .customer-inner {
                background: #fff;
                border-radius: 5px;
                overflow: hidden;
                text-align: center;

                .info {
                    padding: 20px;

                    .name {
                        margin-bottom: 10px;
                        color: $theme_color;
                        font-weight: 600;
                    }

                    .age {
                        color: #777;
                        margin-bottom: 10px;
                    }

                    .rating {
                        color: $theme_color_two;

                        i {
                            color: #ddd;

                            &.checked {
                                color: #FFD700;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-progress {
        @extend %section;
        margin-bottom: 60px;
        position: relative;
        overflow: hidden;

        .bg-image {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //-webkit-filter: blur(50px);
                //filter: blur(50px);
            }
        }

        .bg-overlay {
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .4);
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }

        .progress-item {
            z-index: 3;

            .h4 {
                color: $theme_color;
                font-size: 28px;
                margin: 15px 0 0;
                text-align: center;
            }
        }
    }

    .home-news {
        @extend %section;
        padding-top: 0;

        .home-news-title {
            @extend %title;
        }

        .news-item {
            @extend %card-item;

            .news-item-inner .content {
                a h4 {
                    min-height: 48px;
                    margin-bottom: 10px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .list-inline {
                    margin-bottom: 10px;
                    color: #7a7992;

                    .list-inline-item i {
                        margin-right: 5px;
                        color: $theme_color_two;
                    }
                }
            }
        }

        .view-more {
            margin: 30px auto 0;
            text-align: center;

            a:hover {
                text-decoration: none;
            }
        }
    }

    .booking {
        @extend %section;

        .booking-left .inner-column {
            h3.title {
                font-size: 55px;
                color: $theme_color;
                text-transform: capitalize;
            }

            .content {
                text-align: justify;
            }

            .booking-form {
                padding: 20px;
                margin-top: 30px;
                background: transparent url("../img/bg-customers.jpg") left top repeat;
                @include prefix((border-radius: 10px), webkit moz);

                .form-title {
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    margin-bottom: 20px;
                }

                .form-control {
                    @include prefix((box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4)), webkit moz);
                }

                .btn-primary {
                    width: 100%;
                    background-color: $theme_color_two;
                    border-color: $theme_color_two;
                    @include prefix((box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .4)), webkit moz);
                }

                .regis .inner .btn-primary {
                    background: $theme_color_two url("../img/edit.png") 20px no-repeat;
                    padding: 20px;
                    text-align: end;
                    text-transform: uppercase;
                }

                .info .inner ul li {
                    color: #fff;
                    font-weight: 600;
                    font-size: 15px;

                    &:first-child {
                        margin-bottom: 30px;
                    }

                    i {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: $theme_color;
                        background-color: #fff;
                        font-size: 12px;
                        @include prefix((border-radius: 100%), webkit moz);
                        margin-right: 10px;
                    }

                    strong {
                        margin-right: 15px;
                    }
                }

                .logo .inner {
                    padding: 18px 0;
                }
            }
        }

        .booking-right {
        }
    }

    .about-us-wrap {
        .about-us {
            @extend %section;

            .image-column {
                position: relative;
                margin-bottom: 70px;

                .inner-column {
                    position: relative;
                    margin-right: 25px;
                    padding-left: 0;
                    z-index: 1;

                    .transparent-layer {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;

                        &:before {
                            @include pseudo;
                            left: 17px;
                            top: 17px;
                            right: -17px;
                            bottom: -17px;
                            z-index: 2;
                            background-color: rgba(255, 255, 255, 0.90);
                            @include prefix((box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10)), webkit moz);
                        }

                        &:after {
                            @include pseudo;
                            left: 51px;
                            top: 51px;
                            right: -51px;
                            bottom: -51px;
                            background-color: rgba(255, 255, 255, 1);
                            @include prefix((box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10)), webkit moz);
                        }
                    }

                    .purple-layer {
                        @include pseudo;
                        left: 36px;
                        top: 36px;
                        right: -36px;
                        bottom: -36px;
                        background-color: $theme_color;
                        @include prefix((box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.10)), webkit moz);
                        /*&:before {
                            @include pseudo;
                            right: -40px;
                            top: 50%;
                            width: 72px;
                            height: 96px;
                            z-index: 1;
                            margin-top: -37px;
                            display: inline-block;
                            //background: transparent url("../img/video-icon-1.png") no-repeat;
                        }
                        &:after {
                            @include pseudo;
                            left: 50%;
                            bottom: -53px;
                            width: 72px;
                            height: 53px;
                            z-index: 1;
                            margin-left: -26px;
                            display: inline-block;
                            background: transparent url("../img/video-icon-2.png") no-repeat;
                        }*/
                    }

                    .image-box {
                        position: relative;

                        .image {
                            position: relative;
                            @include prefix((box-shadow: 50px 70px 120px rgba(0, 0, 0, 0.20)), webkit moz);

                            img {
                                position: relative;
                                width: 100%;
                                z-index: 3;
                            }
                        }
                    }
                }
            }

            .content-column {
                .inner-column {
                    position: relative;
                    padding-left: 80px;
                    z-index: 1;

                    .h1 {
                        font-size: 30px;
                        font-weight: 600;
                        color: $theme_color;
                        position: relative;
                        padding-left: 100px;
                        text-transform: uppercase;

                        &:before {
                            @include pseudo;
                            width: 70px;
                            height: 3px;
                            background-color: $theme_color;
                            left: 0;
                            top: 50%;
                            @include prefix((transform: translateY(-50%)), webkit moz ms o);
                        }
                    }

                    h2 {
                        font-size: 55px;
                        color: $theme_color;
                        text-transform: capitalize;
                    }
                }
            }
        }

        .wts-map {
            background: transparent url("../img/bg-wts.jpg") center/cover no-repeat fixed;
            padding-top: 90px;
            padding-bottom: 90px;

            .wts-heading {
                margin-bottom: 50px;
                position: relative;

                .line-no-arrow {
                    position: absolute;
                    top: 50%;
                    left: 11.5%;
                    width: 37.5%;
                    height: 2px;
                    background: #fff;
                    transform: translateY(-50%);
                }

                .line-has-arrow {
                    display: none;
                    position: absolute;
                    top: 50%;
                    right: 11.5%;
                    width: 37.5%;
                    height: 2px;
                    background: #fff;
                    transform: translateY(-50%);
                }

                .wts-main-heading {
                    position: relative;
                    padding: 10px 15px 10px 25px;
                    background: #fff;
                    display: inline-block;
                    margin: 0;
                    border-radius: 10px;
                    font-size: 36px;
                    letter-spacing: 10px;
                    text-align: center;
                    z-index: 1;

                    &:after {
                        @include pseudo(none);
                        width: 0;
                        left: 100%;
                        top: 50%;
                        border-top: 7px solid transparent;
                        border-bottom: 7px solid transparent;
                        border-right: 10px solid #fff;
                        transform: translate(-1px, -50%);
                    }
                }


            }

            .wts-content {
                .wts-c-step {
                    position: relative;
                    padding: 15px;
                    height: 100%;
                    background: #fff;
                    border-radius: 10px;
                    text-align: justify;
                    cursor: pointer;

                    &.active {
                        background: $theme_color_two;
                        color: #fff;

                        .wts-c-heading {
                            color: #fff;
                        }
                    }

                    .wts-c-heading {
                        text-align: center;
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }

                    .arrow-right {
                        position: absolute;
                        left: 100%;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 30px;
                        height: 2px;
                        background: #fff;

                        &:before {
                            @include pseudo;
                            top: 50%;
                            right: -1px;
                            width: 0;
                            height: 0;
                            border-top: 7px solid transparent;
                            border-bottom: 7px solid transparent;
                            border-left: 10px solid #fff;
                            transform: translateY(-50%);
                        }
                    }
                }

                .col-lg-3:first-child .wts-c-step:before,
                .col-lg-3:first-child .wts-c-step:after,
                .col-lg-3:last-child .wts-c-step:before {
                    @include pseudo;
                    left: 50%;
                    bottom: 100%;
                }

                .col-lg-3:first-child .wts-c-step:before,
                .col-lg-3:last-child .wts-c-step:before {
                    width: 2px;
                    height: 79px;
                    background: #fff;
                    transform: translateX(-50%);
                }

                .col-lg-3:first-child .wts-c-step:after {
                    width: 0;
                    height: 0;
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-top: 10px solid #fff;
                    transform: translateX(-50%)
                }

                .col-lg-3:last-child .wts-c-step:before {
                    display: none
                }

                .wts-nav-collapse {
                    text-align: center;
                    margin-top: 15px;

                    ul li {
                        position: relative;
                        margin-bottom: 15px;

                        &:before {
                            @include pseudo;
                            left: 50%;
                            bottom: 100%;
                            width: 2px;
                            height: 15px;
                            background: #fff;
                            margin-left: -1px;
                        }

                        span {
                            display: inline-block;
                            padding: 10px 15px;
                            background-color: #fff;
                            @include prefix((border-radius: 10px), webkit moz);
                        }
                    }

                    &.opened {
                        ul li:before, ul li span {
                            background: $theme_color_two;
                            color: #fff
                        }
                    }
                }

                .expand-all {
                    display: inline-block;
                    padding: 10px;
                    margin-top: 30px;
                    color: #fff;
                    border: 2px solid #fff;
                    border-radius: 10px;
                    cursor: pointer;
                }
            }

            &.expand {
                .arrow-right,
                .wts-heading .line-no-arrow,
                .wts-heading .line-has-arrow,
                .wts-heading .wts-main-heading,
                .wts-content .col-lg-3:first-child .wts-c-step:before,
                .wts-content .col-lg-3:last-child .wts-c-step:before {
                    background: $theme_color_two;
                    color: #fff
                }

                .line-has-arrow,
                .wts-heading .wts-main-heading:after,
                .wts-content .col-lg-3:last-child .wts-c-step:before {
                    display: block;
                }

                .arrow-right:before {
                    border-left-color: $theme_color_two;
                }

                .wts-heading .line-has-arrow:before,
                .wts-heading .wts-main-heading:after {
                    border-right-color: $theme_color_two;
                }

                .wts-content .col-lg-3:first-child .wts-c-step:after {
                    border-top-color: $theme_color_two;
                }
            }

            &.expand-only {
                //.wts-heading .wts-main-heading,
                &.step1 .line-no-arrow,
                &.step4 .line-has-arrow,
                &.step1 h3.wts-main-heading,
                &.step4 h3.wts-main-heading,
                &.step1 .wts-content .col-lg-3:first-child .wts-c-step:before,
                &.step4 .wts-content .col-lg-3:last-child .wts-c-step:before {
                    background: $theme_color_two;
                    color: #fff
                }

                &.step4 .line-has-arrow,
                &.step4 .wts-heading .wts-main-heading:after,
                &.step4 .wts-content .col-lg-3:last-child .wts-c-step:before {
                    display: block;
                }

                &.step4 .wts-heading .line-has-arrow:before,
                &.step4 .wts-heading .wts-main-heading:after {
                    border-right-color: $theme_color_two;
                }

                &.step1 .wts-content .col-lg-3:first-child .wts-c-step:after {
                    border-top-color: $theme_color_two;
                }
            }
        }
    }

    .services-wrap {
        .services {
            @extend %section;

            .nav {
                border-bottom: 1px solid #ddd;

                .nav-item {
                    .nav-link {
                        img {
                            display: block;
                            margin: 0 auto 15px;
                        }

                        h5 {
                            font-weight: 700;
                            color: $theme_color;
                        }

                        &.active {
                            border-bottom: 3px solid $theme_color;
                        }
                    }

                    &:nth-child(1) h5 {
                        color: #b47bc9;
                    }

                    &:nth-child(2) h5 {
                        color: #a9dae8;
                    }

                    &:nth-child(3) h5 {
                        color: #fbae17;
                    }

                    &:nth-child(4) h5 {
                        color: #b5efce;
                    }
                }
            }

            .tab-content {
                padding-top: 60px;

                .inner {
                    text-align: center;

                    .title {
                        font-size: 16px;
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .expert {
            @extend %section;

            .title {
                @extend %title;
            }

            .subtitle {
                margin-bottom: 30px;
                text-align: center;
            }

            .item {
                margin: 10px;
                @include prefix((box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, .3)), webkit moz);

                .info {
                    padding: 15px;
                    text-align: center;
                    color: $theme_color;
                    font-size: 16px;

                    .name {
                        margin-bottom: 10px;
                    }

                    .position {
                        font-size: 14px;
                    }
                }
            }
        }

        .faq {
            @extend %section;

            .title {
                @extend %title;
            }

            .subtitle {
                margin-bottom: 30px;
                text-align: center;
            }

            .md-accordion .card {
                font-weight: 400;
                overflow: visible;
                box-shadow: none;
                border: 0;
                border-bottom: 1px solid #e0e0e0;
                border-radius: 0;

                &:first-of-type, &:not(:first-of-type):not(:last-of-type) {
                    border-bottom: 1px solid #e0e0e0;
                }

                .card-header {
                    border-bottom: 0;
                    padding: 1rem 1.5rem;
                    background: 0 0;

                    a {
                        @include prefix((transition: all .3s ease-in-out), webkit moz ms o);

                        &:hover {
                            text-decoration: none;
                        }

                        h5 {
                            font-family: 'HelveticalNeue', sans-serif;
                        }
                    }
                }

                .fa-angle-down {
                    float: right;
                }
            }
        }
    }

    .service-detail-wrap {
        padding: 30px 0;
    }



    .left-sidebar {
        .categories-widget .sidebar-menu {
            li.menu-item {
                a {
                    padding-left: 1.5rem;
                    color: #777;

                    &:hover {
                        color: $theme_color_two;
                    }
                }

                > a {
                    display: block;
                    position: relative;
                    padding: 5px 0 5px;
                    font: 700 30px "UTM-Duepuntozero", sans-serif;
                    border-bottom: 1px solid #eddaec;

                    &:hover {
                        text-decoration: none;
                    }

                    > i {
                        font-size: 24px;
                        color: $theme_color_two;
                        @include prefix((transition: all .3s ease-in), webkit moz ms o);
                    }
                }

                &.menu-1 > a {
                    color: #b47bc9;
                }

                &.menu-2 > a {
                    color: #a9dae8;
                }

                &.menu-3 > a {
                    color: #fbae17;
                }

                &.menu-4 > a {
                    color: #b5efce;
                }

                &.active.open, &.open {
                    > a > i {
                        @include prefix((transform: rotate(90deg)), webkit moz ms o);
                    }
                }

                ul.nav {
                    display: none;

                }
            }
        }
    }

    .center-sidebar {
        .title {
            font-weight: 700;
            color: $theme_color;
        }

        .date {
            padding-bottom: 7px;
            border-bottom: 1px solid #eddaec;
            color: #777;

            i {
                margin-right: 5px;
                color: #ec148b;
            }
        }

        .recommend {
            padding: 30px;
            font-size: 13px;

            a {
                color: #777;
            }

            i {
                color: $theme_color_two;
                margin-right: 5px;
            }
        }

        .comment {
            border-bottom: 1px solid #eddaec;
            padding-bottom: 20px;
            margin-bottom: 30px;
        }

        .relative-posts {
            .title {
                margin-bottom: 20px;
                font: 700 22px "UTM-Duepuntozero", sans-serif;

            }

            .list-post .post-item {
                margin-bottom: 30px;
                @extend %widget-news-item;
            }
        }
    }

    .right-sidebar {
        .widget {
            .widget-title {
                padding: 10px;
                background-color: $theme_color_two;
                color: #fff;
                font-weight: 700;
                text-align: center;
                letter-spacing: 2px;
            }

            &.news-focus-widget .item {
                margin-bottom: 20px;
                padding-bottom: 15px;
                border-bottom: 1px solid $theme_color;
                @extend %widget-news-item;
            }

            &.advertisement-widget {
                .widget-content img {
                    margin-bottom: 15px;
                    @include prefix((box-shadow: 0px 0px 5px rgba(0, 0, 0, .4)), webkit moz);
                }
            }
        }
    }

    .customers-wrap {
        .thumbnail, .list-customers {
            @extend %section;
        }

        .testimonial {
            @extend %section;
            padding-bottom: 0;

            .title {
                @extend %title;
                text-transform: uppercase;
            }

            .image {
                z-index: 2;
            }

            .text {
                z-index: 1;

                .inner {
                    padding: 20px 40px;
                    @include prefix((box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, .5)), webkit moz);

                    .name {
                        position: relative;
                        @extend %title;
                        margin-bottom: 20px;
                        padding-bottom: 80px;

                        &:before {
                            content: "\f10d";
                            -moz-osx-font-smoothing: grayscale;
                            -webkit-font-smoothing: antialiased;
                            display: inline-block;
                            font: 900 normal 32px/65px "Font Awesome 5 Free";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 65px;
                            height: 65px;
                            background-color: $theme_color;
                            color: #fff;
                            @include prefix((border-radius: 100%), webkit moz);
                            @include prefix((transform: translateX(-50%)), webkit moz ms o);
                        }
                    }

                    .desc {
                        font-style: italic;
                        text-align: justify;
                    }

                    .rating {
                        color: $theme_color;
                        margin-top: 40px;
                        font-size: 15px;
                        font-weight: 700;
                        text-transform: uppercase;

                        i {
                            color: #ddd;

                            &.checked {
                                color: #FFD700;
                            }
                        }
                    }
                }
            }
        }

        .list-customers {
            .owl-carousel .owl-item {
                .image {
                    margin-top: 5px;
                    overflow: hidden;
                    @include prefix((border-radius: 10px), webkit moz);
                }

                .info {
                    padding: 15px 10px;
                    text-align: center;
                    color: $theme_color;

                    .name {
                        font-weight: 600;
                    }
                }

                &.center .image {
                    @include prefix((box-shadow: 0px 0px 6px 0 $theme_color_two), webkit moz);
                }
            }
        }

        .line-space {
            width: 100%;
            border-bottom: 1px solid $theme_color;
        }

        .thanks-from-ma {
            @extend %section;
            padding-bottom: 0;

            .title {
                @extend %title;
            }

            .text {
                max-width: 750px;
                margin: 0 auto;
            }
        }
    }

    .contact-wrap {
        .about-us {
            padding: 60px 0;

            .text {
                z-index: 1;

                .inner {
                    padding: 80px 40px;
                    @include prefix((box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, .5)), webkit moz);

                    .h2, .h3 {
                        font-weight: 700;
                        color: $theme_color;
                        text-transform: uppercase;
                    }

                    .h2 {
                        font-size: 44px;
                    }

                    .h3 {
                        font-size: 30px;
                    }

                    .desc {
                        text-align: justify;

                        p.lead {
                            font-weight: 700;
                            font-size: 16px;
                            color: $theme_color;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }

        .address {
            border-right: 1px solid #fcd3e1;
            margin-bottom: 100px;

            .row-address {
                color: #7a7992;
                font-size: 13px;
                padding: 40px 0;
                border-bottom: 1px solid #fcd3e1;

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                    border-bottom: 0;
                }
            }

            .title, .info > .h6, i.fas {
                color: $theme_color;
            }

            .title {
                font: 700 30px "UTM-Duepuntozero", sans-serif;
                margin-bottom: 45px;
                text-align: center;
            }

            .info {
                > .h6 {
                    font-weight: 600;
                    font-size: 24px;
                }

                p {
                    margin-bottom: 10px;

                    i {
                        margin-right: 10px;
                    }

                    a {
                        font-weight: 600;
                        color: $theme_color_two;
                    }
                }

                ul li {
                    &.lead.h6 {
                        font-size: 24px;
                        color: #7a7992;
                        margin-bottom: 10px;
                    }
                }

                a.btn {
                    display: inline-block;
                    background-color: $theme_color_two;
                    color: #fff;
                    margin-top: 10px;
                    @include prefix((box-shadow: 0px 2px 6px rgba(0, 0, 0, .3)), webkit moz);

                    &.btn-hotline {
                        font-size: 14px;

                        > i.fas {
                            color: #fff;
                            margin-right: 5px;
                        }
                    }

                    &.btn-regis {
                        background: $theme_color_two url("../img/edit.png") 10px center/26px no-repeat;
                        padding-left: 40px;
                        margin-left: 20px;
                        font-size: 10px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

#footer {
    background-color: $theme_color;
    padding-top: 30px;

    .footer-top {
        padding: 80px 0;
        background: transparent url("../img/contact-banner.jpg") no-repeat center center;
        background-size: cover;

        .col-left p {
            color: #fff;
            font-size: 16px;
            margin: 15px 0 0;
        }

        .col-right {
            .box-info {
                background-color: #fff;

                .info {
                    padding: 20px 15px;

                    img {
                        display: block;
                        max-width: 200px;
                        margin: 0 auto 15px;
                    }

                    ul li {
                        margin-bottom: 5px;
                        text-align: justify;

                        &:last-child {
                            margin-bottom: 0;
                        }

                        i {
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            background-color: $theme_color;
                            font-size: 12px;
                            @include prefix((border-radius: 100%), webkit moz);
                            margin-right: 10px;
                        }

                        strong {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }

    .footer-middle {
        padding: 60px 0;
        background-color: #fff;

        .footer-info {
            > * {
                max-width: 280px;
                text-align: justify;

            }

            ul li {
                display: inline-block;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                background: $theme_color;
                @include prefix((border-radius: 100%), webkit moz);

                a {
                    color: #fff;
                }
            }
        }

        .footer-menu {
            .footer-nav {
                .title {
                    font-weight: 600;
                }

                ul li a {
                    color: $text_color;

                    &:hover {
                        color: $theme_color_two;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding: 25px 0;
        color: #fff;
        font-size: 16px;
    }
}

@media only screen and (max-width: 480px) {
    %section {
        padding: 30px 0;
    }
    %title {
        font-size: 36px;
        margin-bottom: 20px ;
    }
}