@import "_variables.scss";
@import "_mixins.scss";

@include font-face(UTM-Duepuntozero, "../fonts/UTM-Duepuntozero", 400, normal, swap, ttf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue-Light", 300, normal, swap, ttf otf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue-Light-Italic", 300, italic, swap, ttf otf);
@include font-face(HelveticalNeue, "../fonts/HelveticaNeue", 400, normal, swap, ttf otf);

*, *:before, *:after {
    @include prefix((box-sizing: border-box), webkit moz);
    margin: 0;
    padding: 0;
}
html {
    overflow: visible!important;
    margin: 0!important;
}
body {
    font: 400 14px "HelveticalNeue", sans-serif;
    color: $text_color;
    background-color: #fff;
    line-height: 1.5;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'UTM-Duepuntozero', sans-serif;
    font-weight: 400;
    display: block;
    color: $text_color;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
}
ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul li, ol li {
    list-style: none;
}
a {
    @include prefix((transition: all .5s ease-in-out), webkit moz o);
}
img {
    max-width: 100%;
    height: auto;
}
%section {
    padding: 60px 0;
}
%title {
    font-weight: 600;
    font-size: 40px;
    color: $theme_color;
    margin-bottom: 45px;
    text-transform: capitalize;
    text-align: center;
}
%card-item {
    padding: 0 15px;
    .news-item-inner {
        border-radius: 4px;
        background: white;
        overflow: hidden;
        > a {
            border-radius: 0 0 100% 100%;
            display: block;
            overflow: hidden;
            margin: 0 -80px;
            padding: 0 80px;
            @include prefix((transform: translateZ(0)), webkit moz ms o);
            text-align: center;
            > img {
                @include prefix((border-radius: 4px), webkit moz);
                @include prefix((transition: all .3s ease-in-out), webkit moz o);
                &:hover {
                    @include prefix((transform: scale(1.1)), webkit moz ms o);
                }
            }
        }
        .content {
            a {
                text-decoration: none;
                h4 {
                    color: $theme_color;
                    margin-top: 15px;
                }
            }
            .desc {
                text-align: justify;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                -webkit-box-orient: vertical;
            }
        }
    }
}
.overflow-hidden {
    overflow: hidden;
    position: relative;
}
.radius-niz-mini {
    border-radius: 0 0 100% 100%;
    display: block;
    overflow: hidden;
    margin: 0 -380px;
    padding: 0 380px;
    transform: translateZ(0);
    text-align: center;
}
.view-more {
    display: inline-block;
    padding: 3px;
    border: 1px solid $theme_color;
    @include prefix((border-radius: 50px), webkit moz);
    @include prefix((box-shadow: 0 2px 6px 0 $box_shadow_color), webkit moz);
    a {
        display: block;
        font-size: 16px;
        background-color: $theme_color;
        color: #fff;
        padding: 5px 15px;
        border: 1px solid $theme_color;
        @include prefix((border-radius: 50px), webkit moz);
        text-transform: uppercase;
    }
}
.mburger {
    --mb-button-size: 47px!important;
    --mb-bar-height: 2px!important;
    --mb-bar-spacing: 8px!important;
}
.mm-wrapper__blocker {
    z-index: 99!important;
}

#site-wrap {
    position: relative;
    z-index: 99;
    padding-top: 158px;
}

#header {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    width: 100%;
    .header-top {
        background-color: $theme_color;
        color: #fff;
        padding: 5px;
        .navbar-top {
            display: flex;
            @include prefix((flex-wrap: nowrap), webkit moz o);
            justify-content: space-between;
            ul li {
                float: left;
                font-size: 12px;
                a {
                    color: #fff;
                }
            }
            ul.info {
                li {
                    margin: 5px 20px 5px 0;
                    &:last-child {
                        margin-right: 0;
                    }
                    span {
                        margin-left: 4px;
                    }
                }
            }
        }
    }
    .header-main {
        padding: 17px 20px;
        background-color: #fff;
        box-shadow: 0 2px 9px 0 rgba(0,0,0,.1);
        @include prefix((transition: all .5s ease-in-out), webkit moz o);
        .navbar {
            width: 100%;
            z-index: 2;
            .nav ul li {
                float: left;
                position: relative;
                a {
                    font-weight: 400;
                    font-size: 16px;
                    font-family: 'HelveticalNeue', sans-serif;
                    text-transform: uppercase;
                    color: $text_color;
                    display: block;
                    position: relative;
                    padding: 0 5px;
                    margin: 0 10px;
                    border-bottom: 2px solid transparent;
                    &:hover {
                        border-bottom: 2px solid $theme_color;
                        text-decoration: none;
                    }
                }
                &.has-children > a {
                    //padding-right: 20px;
                }
                &.active > a {
                    color: $theme_color;
                    border-bottom: 2px solid $theme_color;
                }
                &:hover ul {
                    opacity: 1;
                    visibility: visible;
                }
                ul {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    width: 220px;
                    background-color: $theme_color;
                    padding: 10px 16px;
                    box-shadow: 0 2px 6px 0 $box_shadow_color;
                    border-radius: 4px;
                    li {
                        float: none;
                        display: block;
                        a {
                            display: block;
                            font-size: 14px;
                            color: #fff;
                            margin: 0;
                            padding: 10px 14px 8px;
                            -webkit-border-radius: 4px;
                            -moz-border-radius: 4px;
                            border-radius: 4px;
                            &:hover {
                                background-color: $theme_color_four;
                            }
                        }
                    }
                }
            }
        }
    }
}

.slider-show {
    .slider-show-heading {
        min-height: 700px;
        max-width: 1140px;
        margin: 0 auto;
        padding: 105px 15px 0;
        text-align: left;
        .slider-show-image {
            background-position: right top;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: -1;
            left: 0;
            top: 0;
        }
        .caption {
            max-width: 450px;
            text-align: justify;
            float: left;
            h4 {
                color: $theme_color;
                font-size: 45px;
                font-weight: 300;
                line-height: 82px;
                text-transform: capitalize;
                strong {
                    font-weight: 600;
                    font-size: 75px;
                    letter-spacing: 3.7px;
                }
            }
            .slider-show-info {
                font-size: 16px;
                line-height: 32px;
                margin: 24px 0 44px 0;
            }
        }
    }
}

#main {
    .home-about {
        @extend %section;
        .about-left {
            .about-image {
                @include prefix((box-shadow: 0 2px 6px 0 $box_shadow_color), webkit moz);
            }
        }
        .about-right {
            padding-left: 100px;
            .about-title {
                font-weight: 600;
                font-size: 24px;
                text-transform: uppercase;
                color: $theme_color;
                strong {
                    font-size: 64px;
                    text-transform: capitalize;
                }
            }
            .about-text {
                text-align: justify;
                margin-bottom: 45px;
            }
        }
    }

    .home-best-thing {
        @extend %section;
        padding-top: 0;
        .best-thing-title {
            @extend %title;
        }
        .news-item {
            @extend %card-item;
        }
    }

    .home-services {
        @extend %section;
        padding-top: 0;
        .services-title {
            @extend %title;
        }
        .service-item {
            text-align: center;
            .inner {
                padding: 20px;
                @include prefix((border-radius: 10px), webkit moz);
                @include prefix((box-shadow: 0 2px 6px 0 $box_shadow_color), webkit moz);
                .title {
                    font-size: 30px;
                    margin: 15px 0;
                }
                .desc {
                    text-align: justify;
                    text-align-last: center;
                }
            }
            &:nth-child(1) .title {
                color: #fbae17;
            }
            &:nth-child(2) .title {
                color: #b47bc9;
            }
            &:nth-child(3) .title {
                color: #b5efce;
            }
            &:nth-child(4) .title {
                color: #a9dae8;
            }
        }
    }

    .home-slide {
        padding-bottom: 60px;
        .owl-slide {
            .slideshow-img {
                position: relative;
                &:before {
                    @include pseudo();
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .2);
                }
            }
            .owl-dots {
                margin: 20px 0;
                .owl-dot {
                    &.active button {
                        color: #fff;
                        //@include prefix((transform: scale(1.1)), webkit moz ms o);
                        &:before {
                            background-color: $theme_color_two;
                        }
                        &:after {
                            border-color: $theme_color_two;
                            @include prefix((transform: rotate(45deg)), webkit moz ms o);
                        }
                    }
                    button {
                        position: relative;
                        width: 30px;
                        height: 30px;
                        color: $theme_color;
                        margin: 10px;
                        font-weight: 600;
                        text-align: center;
                        line-height: 30px;
                        outline: none;
                        &:before {
                            @include pseudo();
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            @include prefix((border-radius: 3px), webkit moz);
                            @include prefix((transform: rotate(45deg)), webkit moz ms o);
                            background: rgba(247, 79, 139, 0.2);
                            z-index: -1;
                        }
                        &:after {
                            @include pseudo();
                            left: 0;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            border: 3px solid #9a258f;
                            @include prefix((border-radius: 3px), webkit moz);
                            @include prefix((transition: all .3s ease-in-out), webkit moz);
                        }
                        &:hover:after {
                            @include prefix((transform: rotate(45deg)), webkit moz ms o);
                        }
                        &:active {
                            color: #fff;
                            //@include prefix((transform: scale(1.1)), webkit moz ms o);
                            &:before {
                                background-color: $theme_color_two;
                            }
                            &:after {
                                border-color: $theme_color_two;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-kols {
        @extend %section;
        padding-top: 0;
        .col-left {
            .title {
                @extend %title;
                margin-bottom: 35px;
            }
            .kol-text {
                position: relative;
                padding: 15px 30px;
                margin-bottom: 15px;
                background: #e2d2e2;
                font-family: "HelveticalNeue";
                font-style: italic;
                @include prefix((border-radius: 50px), webkit moz);
                @include prefix((box-shadow: 0px 2px 6px 0 $box_shadow_color), webkit moz);
                min-height: 72px;
                &:after {
                    @include css-triangle(#e2d2e2, down, 20px);
                    top: 100%;
                    left: 12%;
                }
            }
            .owl-kols {
                padding: 0 15px;
                @include prefix((border-radius: 5px), webkit moz);
                .kol-inner {
                    text-align: center;
                    margin: 5px 0;
                    @include prefix((box-shadow: 0 0 6px 0 $box_shadow_color), webkit moz);
                    @include prefix((border-radius: 5px), webkit moz);
                    overflow: hidden;
                    .info {
                        padding: 10px;
                        .name {
                            margin-bottom: 10px;
                            color: $theme_color;
                            font-weight: 600;
                        }
                        .career {
                            color: $theme_color_two;
                        }
                    }
                }
            }
        }
    }

    .home-customers {
        @extend %section;
        background: transparent url("../img/bg-customers.jpg") repeat left top;
        .customer-title {
            @extend %title;
            color: #fff;
        }
        .testimonial-text {
            position: relative;
            padding-top: 50px;
            padding-bottom: 40px;
            text-align: center;
            font-style: italic;
            font-size: 16px;
            color: #fff;
            &:before {
                content: "\f10d";
                -moz-osx-font-smoothing: grayscale;
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font: 900 normal 32px "Font Awesome 5 Free";
                position: absolute;
                top: 0;
                left: 50%;
                @include prefix((transform: translateX(-50%)), webkit moz ms o);
            }
        }
        .owl-customers {
            .owl-item {
                @include prefix((transition: all .4s ease-in-out), webkit moz ms o);
                &.center {
                    transform: scale(1);
                    opacity: 1;
                }
                &:not(.center) {
                    transform: scale(0.85);
                    opacity: 0.7;
                }
            }
            .customer-inner {
                background: #fff;
                border-radius: 5px;
                overflow: hidden;
                text-align: center;
                .info {
                    padding: 20px;
                    .name {
                        margin-bottom: 10px;
                        color: $theme_color;
                        font-weight: 600;
                    }
                    .age {
                        color: #777;
                        margin-bottom: 10px;
                    }
                    .rating {
                        color: $theme_color_two;
                        i {
                            color: #ddd;
                            &.checked {
                                color: #FFD700;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-progress {
        @extend %section;
        margin-bottom: 60px;
        position: relative;
        overflow: hidden;
        .bg-image {
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                //-webkit-filter: blur(50px);
                //filter: blur(50px);
            }
        }
        .bg-overlay {
            display: block;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, .4);
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
        .progress-item {
            z-index: 3;
            .h4 {
                color: $theme_color;
                font-size: 28px;
                margin: 15px 0 0;
                text-align: center;
            }
        }
    }

    .home-news {
        @extend %section;
        padding-top: 0;
        .home-news-title {
            @extend %title;
        }
        .news-item {
            @extend %card-item;
        }
        .view-more {
            margin: 30px auto 0;
            text-align: center;
            a:hover {
                text-decoration: none;
            }
        }
    }
}

#footer {
    background-color: $theme_color;
    padding-top: 30px;
    .footer-top {
        padding: 80px 0;
        background: transparent url("../img/contact-banner.jpg") no-repeat center center;
        background-size: cover;
        .col-left p {
            color: #fff;
            font-size: 16px;
            margin: 15px 0 0;
        }
        .col-right {
            .box-info {
                background-color: #fff;
                .info {
                    padding: 20px 15px;
                    img {
                        display: block;
                        max-width: 200px;
                        margin: 0 auto 15px;
                    }
                    ul li {
                        margin-bottom: 5px;
                        text-align: justify;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        i {
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            background-color: $theme_color;
                            font-size: 12px;
                            @include prefix((border-radius: 100%), webkit moz);
                            margin-right: 10px;
                        }
                        strong {
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
    }
    .footer-middle {
        padding: 60px 0;
        background-color: #fff;
        .footer-info {
            > * {
                max-width: 280px;
                text-align: justify;

            }
            ul li {
                display: inline-block;
                width: 30px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                background: $theme_color;
                @include prefix((border-radius: 100%), webkit moz);
                a {
                    color: #fff;
                }
            }
        }
        .footer-menu {
            .footer-nav {
                ul {
                    padding-left: 40px;
                    li {
                        list-style: disc;
                        a {
                            color: $text_color;
                        }
                    }
                }
            }
        }
    }
    .footer-bottom {
        padding: 50px 0;
        color: #fff;
        font-size: 16px;
    }
}