@font-face {
  font-family: "UTM-Duepuntozero";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/UTM-Duepuntozero.ttf") format("truetype"); }
@font-face {
  font-family: "HelveticalNeue";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Light.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light.otf") format("opentype"); }
@font-face {
  font-family: "HelveticalNeue";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/HelveticaNeue-Light-Italic.ttf") format("truetype"), url("../fonts/HelveticaNeue-Light-Italic.otf") format("opentype"); }
@font-face {
  font-family: "HelveticalNeue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/HelveticaNeue.ttf") format("truetype"), url("../fonts/HelveticaNeue.otf") format("opentype"); }
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  overflow: visible !important;
  margin: 0 !important; }

body {
  font: 400 14px "HelveticalNeue", sans-serif;
  color: #201E20;
  background-color: #fff;
  line-height: 1.5;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'UTM-Duepuntozero', sans-serif;
  font-weight: 400;
  display: block;
  color: #201E20;
  margin-bottom: 20px;
  padding: 0;
  line-height: 1; }

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none; }

ul li, ol li {
  list-style: none; }

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

img {
  max-width: 100%;
  height: auto; }

#main .home-about, #main .home-best-thing, #main .home-services, #main .home-kols, #main .home-customers, #main .home-progress, #main .home-news, #main .about-us-wrap .about-us, #main .about-us-wrap .booking {
  padding: 60px 0; }

#main .home-best-thing .best-thing-title, #main .home-services .services-title, #main .home-kols .col-left .title, #main .home-customers .customer-title, #main .home-news .home-news-title {
  font-weight: 600;
  font-size: 40px;
  color: #93268f;
  margin-bottom: 45px;
  text-transform: capitalize;
  text-align: center; }

#main .home-best-thing .news-item, #main .home-news .news-item {
  padding: 0 15px; }
  #main .home-best-thing .news-item .news-item-inner, #main .home-news .news-item .news-item-inner {
    border-radius: 4px;
    background: white;
    overflow: hidden; }
    #main .home-best-thing .news-item .news-item-inner > a, #main .home-news .news-item .news-item-inner > a {
      border-radius: 0 0 100% 100%;
      display: block;
      overflow: hidden;
      margin: 0 -80px;
      padding: 0 80px;
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      text-align: center; }
      #main .home-best-thing .news-item .news-item-inner > a > img, #main .home-news .news-item .news-item-inner > a > img {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        #main .home-best-thing .news-item .news-item-inner > a > img:hover, #main .home-news .news-item .news-item-inner > a > img:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1); }
    #main .home-best-thing .news-item .news-item-inner .content a, #main .home-news .news-item .news-item-inner .content a {
      text-decoration: none; }
      #main .home-best-thing .news-item .news-item-inner .content a h4, #main .home-news .news-item .news-item-inner .content a h4 {
        color: #93268f;
        margin-top: 15px; }
    #main .home-best-thing .news-item .news-item-inner .content .desc, #main .home-news .news-item .news-item-inner .content .desc {
      text-align: justify;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical; }

.page-breadcrumb {
  position: relative;
  padding: 100px 0 30px;
  background: transparent url("../img/bg-breadcrumb.jpg") center no-repeat; }
  .page-breadcrumb .h1 {
    font-weight: 600;
    font-size: 16px;
    color: #93268f;
    padding-left: 45px;
    position: relative; }
    .page-breadcrumb .h1:before {
      content: "";
      display: block;
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #93268f;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50deg);
      -moz-transform: translateY(-50deg);
      transform: translateY(-50deg); }
  .page-breadcrumb h1 {
    font-weight: 600;
    font-size: 55px;
    color: #93268f;
    margin-bottom: 0; }
  .page-breadcrumb ul.breadcrumb {
    background: transparent;
    padding-left: 0;
    padding-right: 0;
    margin: 0; }
    .page-breadcrumb ul.breadcrumb .breadcrumb-item {
      color: #93268f; }

.overflow-hidden {
  overflow: hidden;
  position: relative; }

.radius-niz-mini {
  border-radius: 0 0 100% 100%;
  display: block;
  overflow: hidden;
  margin: 0 -380px;
  padding: 0 380px;
  transform: translateZ(0);
  text-align: center; }

.view-more {
  display: inline-block;
  padding: 3px;
  border: 1px solid #93268f;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 2px 6px 0 #d6d6d6;
  -moz-box-shadow: 0 2px 6px 0 #d6d6d6;
  box-shadow: 0 2px 6px 0 #d6d6d6; }
  .view-more a {
    display: block;
    font-size: 16px;
    background-color: #93268f;
    color: #fff;
    padding: 5px 15px;
    border: 1px solid #93268f;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-transform: uppercase; }
  .view-more:hover {
    border-color: #f5518a; }
    .view-more:hover a {
      text-decoration: none;
      background-color: #f5518a;
      border-color: #f5518a; }

.mburger {
  --mb-button-size: 47px !important;
  --mb-bar-height: 2px !important;
  --mb-bar-spacing: 8px !important; }

.mm-wrapper__blocker {
  z-index: 99 !important; }

#site-wrap {
  position: relative;
  z-index: 99;
  padding-top: 158px; }

#header {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  width: 100%; }
  #header .header-top {
    background-color: #93268f;
    color: #fff;
    padding: 5px; }
    #header .header-top .navbar-top {
      display: flex;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -o-flex-wrap: nowrap;
      flex-wrap: nowrap;
      justify-content: space-between; }
      #header .header-top .navbar-top ul li {
        float: left;
        font-size: 12px; }
        #header .header-top .navbar-top ul li a {
          color: #fff; }
      #header .header-top .navbar-top ul.info li {
        margin: 5px 20px 5px 0; }
        #header .header-top .navbar-top ul.info li:last-child {
          margin-right: 0; }
        #header .header-top .navbar-top ul.info li span {
          margin-left: 4px; }
  #header .header-main {
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #header .header-main .navbar {
      width: 100%;
      z-index: 2; }
      #header .header-main .navbar .nav {
        position: relative; }
        #header .header-main .navbar .nav a {
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
      #header .header-main .navbar .nav > ul > li {
        float: left;
        display: block;
        padding: 0;
        margin: 0;
        text-align: center; }
        #header .header-main .navbar .nav > ul > li > a {
          display: block;
          position: relative;
          padding: 20px 5px;
          margin: 0 10px;
          font-size: 16px;
          color: #201E20;
          text-transform: uppercase;
          border-bottom: 2px solid transparent; }
          #header .header-main .navbar .nav > ul > li > a > i {
            display: inline-block;
            font-size: 14px;
            line-height: inherit;
            margin-right: 12px;
            color: #55606c;
            vertical-align: middle; }
        #header .header-main .navbar .nav > ul > li:hover > a {
          color: #f5518a;
          border-color: #f5518a;
          text-decoration: none; }
        #header .header-main .navbar .nav > ul > li.active > a {
          color: #f5518a;
          border-color: #f5518a;
          text-decoration: none; }
        #header .header-main .navbar .nav > ul > li > ul.sub-menu {
          position: absolute;
          top: 70px;
          z-index: 1;
          margin: 0;
          padding: 0;
          min-width: 190px;
          background-color: #fff;
          border: 1px solid #eee;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transform: rotateX(-75deg);
          -moz-transform: rotateX(-75deg);
          -o-transform: rotateX(-75deg);
          transform: rotateX(-75deg); }
          #header .header-main .navbar .nav > ul > li > ul.sub-menu > li {
            position: relative;
            margin: 0;
            padding: 0;
            display: block; }
            #header .header-main .navbar .nav > ul > li > ul.sub-menu > li > a {
              background-image: none;
              color: #666;
              text-align: left;
              display: block;
              line-height: 22px;
              padding: 8px 12px;
              text-transform: none;
              font-size: 14px;
              letter-spacing: normal;
              border-right: 0px solid;
              -webkit-transition: all 0.3s ease-in-out;
              -moz-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
              #header .header-main .navbar .nav > ul > li > ul.sub-menu > li > a > i {
                margin-right: 9px; }
            #header .header-main .navbar .nav > ul > li > ul.sub-menu > li:hover > a {
              background-color: #93268f;
              color: #fff;
              text-decoration: none; }
        #header .header-main .navbar .nav > ul > li:hover > ul.sub-menu {
          opacity: 1;
          visibility: visible;
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          -o-transform: rotateX(0deg);
          transform: rotateX(0deg); }
        #header .header-main .navbar .nav > ul > li > .mega-menu {
          position: absolute;
          width: 100%;
          left: 0;
          top: 70px;
          color: #000;
          margin: 0;
          text-align: left;
          padding: 14px 5px;
          font-size: 15px;
          border: solid 1px #eeeeee;
          background-color: #fff;
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          -webkit-transform-origin: 0% 0%;
          -moz-transform-origin: 0% 0%;
          -ms-transform-origin: 0% 0%;
          -o-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-transform: rotateX(-75deg);
          -moz-transform: rotateX(-75deg);
          -o-transform: rotateX(-75deg);
          transform: rotateX(-75deg); }
          #header .header-main .navbar .nav > ul > li > .mega-menu.half-menu {
            width: 50%;
            right: auto;
            left: auto; }
          #header .header-main .navbar .nav > ul > li > .mega-menu .title {
            border-bottom: 1px solid #CCC;
            padding: 9px 5px 9px 0;
            font-size: 17px;
            color: #424242;
            margin: 0 0 7px 0;
            display: flex !important;
            align-items: center; }
            #header .header-main .navbar .nav > ul > li > .mega-menu .title > img {
              width: 24px;
              margin-right: 5px; }
          #header .header-main .navbar .nav > ul > li > .mega-menu:not(.half-menu) .link-list:nth-child(1) .title {
            color: #fbae17; }
          #header .header-main .navbar .nav > ul > li > .mega-menu:not(.half-menu) .link-list:nth-child(2) .title {
            color: #b47bc9; }
          #header .header-main .navbar .nav > ul > li > .mega-menu:not(.half-menu) .link-list:nth-child(3) .title {
            color: #b5efce; }
          #header .header-main .navbar .nav > ul > li > .mega-menu:not(.half-menu) .link-list:nth-child(4) .title {
            color: #a9dae8; }
          #header .header-main .navbar .nav > ul > li > .mega-menu .link-list li {
            display: block;
            white-space: nowrap;
            text-align: left; }
            #header .header-main .navbar .nav > ul > li > .mega-menu .link-list li a {
              line-height: 18px;
              border-right: none;
              text-align: left;
              padding: 6px 0;
              border-right: 0 none;
              display: block;
              background-color: #fff;
              color: #424242;
              font-size: 14px; }
              #header .header-main .navbar .nav > ul > li > .mega-menu .link-list li a i {
                margin-right: 5px;
                text-align: center;
                width: 18px;
                font-size: 11px; }
            #header .header-main .navbar .nav > ul > li > .mega-menu .link-list li:hover a {
              color: #f5518a; }
        #header .header-main .navbar .nav > ul > li:hover > .mega-menu {
          opacity: 1;
          visibility: visible;
          -webkit-transform: rotateX(0deg);
          -moz-transform: rotateX(0deg);
          -o-transform: rotateX(0deg);
          transform: rotateX(0deg); }

.slider-show .slider-show-heading {
  min-height: 700px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 105px 15px 0;
  text-align: left; }
  .slider-show .slider-show-heading .slider-show-image {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0; }
  .slider-show .slider-show-heading .caption {
    max-width: 450px;
    text-align: justify;
    float: left; }
    .slider-show .slider-show-heading .caption h4 {
      color: #93268f;
      font-size: 45px;
      font-weight: 300;
      line-height: 82px;
      text-transform: capitalize; }
      .slider-show .slider-show-heading .caption h4 strong {
        font-weight: 600;
        font-size: 75px;
        letter-spacing: 3.7px; }
    .slider-show .slider-show-heading .caption .slider-show-info {
      font-size: 16px;
      line-height: 32px;
      margin: 24px 0 44px 0; }

#main .home-about .about-left .about-image {
  -webkit-box-shadow: 0 2px 6px 0 #d6d6d6;
  -moz-box-shadow: 0 2px 6px 0 #d6d6d6;
  box-shadow: 0 2px 6px 0 #d6d6d6; }
#main .home-about .about-right {
  padding-left: 100px; }
  #main .home-about .about-right .about-title {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    color: #93268f; }
    #main .home-about .about-right .about-title strong {
      font-size: 64px;
      text-transform: capitalize; }
  #main .home-about .about-right .about-text {
    text-align: justify;
    margin-bottom: 45px; }
#main .home-best-thing {
  padding-top: 0; }
#main .home-services {
  padding-top: 0; }
  #main .home-services .service-item {
    text-align: center; }
    #main .home-services .service-item .inner {
      padding: 20px;
      height: 100%;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 2px 6px 0 #d6d6d6;
      -moz-box-shadow: 0 2px 6px 0 #d6d6d6;
      box-shadow: 0 2px 6px 0 #d6d6d6; }
      #main .home-services .service-item .inner .title {
        font-size: 30px;
        margin: 15px 0; }
      #main .home-services .service-item .inner .desc {
        text-align: justify;
        text-align-last: center; }
      #main .home-services .service-item .inner img {
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      #main .home-services .service-item .inner:hover img {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg); }
    #main .home-services .service-item:nth-child(1) .title {
      color: #fbae17; }
    #main .home-services .service-item:nth-child(2) .title {
      color: #b47bc9; }
    #main .home-services .service-item:nth-child(3) .title {
      color: #b5efce; }
    #main .home-services .service-item:nth-child(4) .title {
      color: #a9dae8; }
#main .home-slide {
  padding-bottom: 60px; }
  #main .home-slide .owl-slide .slideshow-img {
    position: relative; }
    #main .home-slide .owl-slide .slideshow-img:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2); }
  #main .home-slide .owl-slide .owl-dots {
    margin: 20px 0; }
    #main .home-slide .owl-slide .owl-dots .owl-dot.active button {
      color: #fff; }
      #main .home-slide .owl-slide .owl-dots .owl-dot.active button:before {
        background-color: #f5518a; }
      #main .home-slide .owl-slide .owl-dots .owl-dot.active button:after {
        border-color: #f5518a;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
    #main .home-slide .owl-slide .owl-dots .owl-dot button {
      position: relative;
      width: 30px;
      height: 30px;
      color: #93268f;
      margin: 10px;
      font-weight: 600;
      text-align: center;
      line-height: 30px;
      outline: none; }
      #main .home-slide .owl-slide .owl-dots .owl-dot button:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background: rgba(247, 79, 139, 0.2);
        z-index: -1; }
      #main .home-slide .owl-slide .owl-dots .owl-dot button:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 3px solid #9a258f;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      #main .home-slide .owl-slide .owl-dots .owl-dot button:hover:after {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      #main .home-slide .owl-slide .owl-dots .owl-dot button:active {
        color: #fff; }
        #main .home-slide .owl-slide .owl-dots .owl-dot button:active:before {
          background-color: #f5518a; }
        #main .home-slide .owl-slide .owl-dots .owl-dot button:active:after {
          border-color: #f5518a; }
#main .home-kols {
  padding-top: 0; }
  #main .home-kols .col-left .title {
    margin-bottom: 35px; }
  #main .home-kols .col-left .kol-text {
    position: relative;
    padding: 15px 30px;
    margin-bottom: 15px;
    background: #e2d2e2;
    font-family: "HelveticalNeue";
    font-style: italic;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 2px 6px 0 #d6d6d6;
    -moz-box-shadow: 0px 2px 6px 0 #d6d6d6;
    box-shadow: 0px 2px 6px 0 #d6d6d6;
    min-height: 72px; }
    #main .home-kols .col-left .kol-text:after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #e2d2e2;
      margin-top: -8px;
      top: 100%;
      left: 12%; }
  #main .home-kols .col-left .owl-kols {
    padding: 0 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    #main .home-kols .col-left .owl-kols .kol-inner {
      text-align: center;
      margin: 5px 0;
      -webkit-box-shadow: 0 0 6px 0 #d6d6d6;
      -moz-box-shadow: 0 0 6px 0 #d6d6d6;
      box-shadow: 0 0 6px 0 #d6d6d6;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      overflow: hidden; }
      #main .home-kols .col-left .owl-kols .kol-inner .info {
        padding: 10px; }
        #main .home-kols .col-left .owl-kols .kol-inner .info .name {
          margin-bottom: 10px;
          color: #93268f;
          font-weight: 600; }
        #main .home-kols .col-left .owl-kols .kol-inner .info .career {
          color: #f5518a; }
#main .home-customers {
  background: transparent url("../img/bg-customers.jpg") repeat left top; }
  #main .home-customers .customer-title {
    color: #fff; }
  #main .home-customers .testimonial-text {
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: #fff; }
    #main .home-customers .testimonial-text:before {
      content: "\f10d";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font: 900 normal 32px "Font Awesome 5 Free";
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
  #main .home-customers .owl-customers .owl-item {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #main .home-customers .owl-customers .owl-item.center {
      transform: scale(1);
      opacity: 1; }
    #main .home-customers .owl-customers .owl-item:not(.center) {
      transform: scale(0.85);
      opacity: 0.7; }
  #main .home-customers .owl-customers .customer-inner {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    text-align: center; }
    #main .home-customers .owl-customers .customer-inner .info {
      padding: 20px; }
      #main .home-customers .owl-customers .customer-inner .info .name {
        margin-bottom: 10px;
        color: #93268f;
        font-weight: 600; }
      #main .home-customers .owl-customers .customer-inner .info .age {
        color: #777;
        margin-bottom: 10px; }
      #main .home-customers .owl-customers .customer-inner .info .rating {
        color: #f5518a; }
        #main .home-customers .owl-customers .customer-inner .info .rating i {
          color: #ddd; }
          #main .home-customers .owl-customers .customer-inner .info .rating i.checked {
            color: #FFD700; }
#main .home-progress {
  margin-bottom: 60px;
  position: relative;
  overflow: hidden; }
  #main .home-progress .bg-image {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    #main .home-progress .bg-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #main .home-progress .bg-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  #main .home-progress .progress-item {
    z-index: 3; }
    #main .home-progress .progress-item .h4 {
      color: #93268f;
      font-size: 28px;
      margin: 15px 0 0;
      text-align: center; }
#main .home-news {
  padding-top: 0; }
  #main .home-news .news-item .news-item-inner .content a h4 {
    min-height: 48px;
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; }
  #main .home-news .news-item .news-item-inner .content .list-inline {
    margin-bottom: 10px;
    color: #7a7992; }
    #main .home-news .news-item .news-item-inner .content .list-inline .list-inline-item i {
      margin-right: 5px;
      color: #f5518a; }
  #main .home-news .view-more {
    margin: 30px auto 0;
    text-align: center; }
    #main .home-news .view-more a:hover {
      text-decoration: none; }
#main .about-us-wrap .about-us .image-column {
  position: relative;
  margin-bottom: 70px; }
  #main .about-us-wrap .about-us .image-column .inner-column {
    position: relative;
    margin-right: 25px;
    padding-left: 0;
    z-index: 1; }
    #main .about-us-wrap .about-us .image-column .inner-column .transparent-layer {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
      #main .about-us-wrap .about-us .image-column .inner-column .transparent-layer:before {
        content: "";
        display: block;
        position: absolute;
        left: 17px;
        top: 17px;
        right: -17px;
        bottom: -17px;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
      #main .about-us-wrap .about-us .image-column .inner-column .transparent-layer:after {
        content: "";
        display: block;
        position: absolute;
        left: 51px;
        top: 51px;
        right: -51px;
        bottom: -51px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
    #main .about-us-wrap .about-us .image-column .inner-column .purple-layer {
      content: "";
      display: block;
      position: absolute;
      left: 36px;
      top: 36px;
      right: -36px;
      bottom: -36px;
      background-color: #93268f;
      -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      /*&:before {
          @include pseudo;
          right: -40px;
          top: 50%;
          width: 72px;
          height: 96px;
          z-index: 1;
          margin-top: -37px;
          display: inline-block;
          //background: transparent url("../img/video-icon-1.png") no-repeat;
      }
      &:after {
          @include pseudo;
          left: 50%;
          bottom: -53px;
          width: 72px;
          height: 53px;
          z-index: 1;
          margin-left: -26px;
          display: inline-block;
          background: transparent url("../img/video-icon-2.png") no-repeat;
      }*/ }
    #main .about-us-wrap .about-us .image-column .inner-column .image-box {
      position: relative; }
      #main .about-us-wrap .about-us .image-column .inner-column .image-box .image {
        position: relative;
        -webkit-box-shadow: 50px 70px 120px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 50px 70px 120px rgba(0, 0, 0, 0.2);
        box-shadow: 50px 70px 120px rgba(0, 0, 0, 0.2); }
        #main .about-us-wrap .about-us .image-column .inner-column .image-box .image img {
          position: relative;
          width: 100%;
          z-index: 3; }
#main .about-us-wrap .about-us .content-column .inner-column {
  position: relative;
  padding-left: 80px;
  z-index: 1; }
  #main .about-us-wrap .about-us .content-column .inner-column .h1 {
    font-size: 30px;
    font-weight: 600;
    color: #93268f;
    position: relative;
    padding-left: 100px;
    text-transform: uppercase; }
    #main .about-us-wrap .about-us .content-column .inner-column .h1:before {
      content: "";
      display: block;
      position: absolute;
      width: 70px;
      height: 3px;
      background-color: #93268f;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  #main .about-us-wrap .about-us .content-column .inner-column h2 {
    font-size: 55px;
    color: #93268f;
    text-transform: capitalize; }
#main .about-us-wrap .booking .booking-left .inner-column h3.title {
  font-size: 55px;
  color: #93268f;
  text-transform: capitalize; }
#main .about-us-wrap .booking .booking-left .inner-column .content {
  text-align: justify; }
#main .about-us-wrap .booking .booking-left .inner-column .booking-form {
  padding: 20px;
  margin-top: 30px;
  background: transparent url("../img/bg-customers.jpg") left top repeat;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }
  #main .about-us-wrap .booking .booking-left .inner-column .booking-form .form-title {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px; }
  #main .about-us-wrap .booking .booking-left .inner-column .booking-form .form-control {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4); }
  #main .about-us-wrap .booking .booking-left .inner-column .booking-form .btn-primary {
    width: 100%;
    background-color: #f5518a;
    border-color: #f5518a;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4); }
  #main .about-us-wrap .booking .booking-left .inner-column .booking-form .regis .inner .btn-primary {
    background: #f5518a url("../img/edit.png") 20px no-repeat;
    padding: 20px;
    text-align: end;
    text-transform: uppercase; }
  #main .about-us-wrap .booking .booking-left .inner-column .booking-form .info .inner ul li {
    color: #fff;
    font-weight: 600;
    font-size: 15px; }
    #main .about-us-wrap .booking .booking-left .inner-column .booking-form .info .inner ul li:first-child {
      margin-bottom: 30px; }
    #main .about-us-wrap .booking .booking-left .inner-column .booking-form .info .inner ul li i {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #93268f;
      background-color: #fff;
      font-size: 12px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      margin-right: 10px; }
    #main .about-us-wrap .booking .booking-left .inner-column .booking-form .info .inner ul li strong {
      margin-right: 15px; }
  #main .about-us-wrap .booking .booking-left .inner-column .booking-form .logo .inner {
    padding: 18px 0; }
#main .about-us-wrap .wts-map {
  background: transparent url("../img/bg-wts.jpg") center/cover no-repeat fixed;
  padding-top: 90px;
  padding-bottom: 90px; }
  #main .about-us-wrap .wts-map .wts-heading {
    margin-bottom: 50px;
    position: relative; }
    #main .about-us-wrap .wts-map .wts-heading .line-no-arrow {
      position: absolute;
      top: 50%;
      left: 11.5%;
      width: 37.5%;
      height: 2px;
      background: #fff;
      transform: translateY(-50%); }
    #main .about-us-wrap .wts-map .wts-heading .line-has-arrow {
      display: none;
      position: absolute;
      top: 50%;
      right: 11.5%;
      width: 37.5%;
      height: 2px;
      background: #fff;
      transform: translateY(-50%); }
    #main .about-us-wrap .wts-map .wts-heading .wts-main-heading {
      position: relative;
      padding: 10px 15px 10px 25px;
      background: #fff;
      display: inline-block;
      margin: 0;
      border-radius: 10px;
      font-size: 36px;
      letter-spacing: 10px;
      text-align: center;
      z-index: 1; }
      #main .about-us-wrap .wts-map .wts-heading .wts-main-heading:after {
        content: "";
        display: none;
        position: absolute;
        width: 0;
        left: 100%;
        top: 50%;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 10px solid #fff;
        transform: translate(-1px, -50%); }
  #main .about-us-wrap .wts-map .wts-content .wts-c-step {
    position: relative;
    padding: 15px;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    text-align: justify;
    cursor: pointer; }
    #main .about-us-wrap .wts-map .wts-content .wts-c-step.active {
      background: #f5518a;
      color: #fff; }
      #main .about-us-wrap .wts-map .wts-content .wts-c-step.active .wts-c-heading {
        color: #fff; }
    #main .about-us-wrap .wts-map .wts-content .wts-c-step .wts-c-heading {
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 15px; }
    #main .about-us-wrap .wts-map .wts-content .wts-c-step .arrow-right {
      position: absolute;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 2px;
      background: #fff; }
      #main .about-us-wrap .wts-map .wts-content .wts-c-step .arrow-right:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        right: -1px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 10px solid #fff;
        transform: translateY(-50%); }
  #main .about-us-wrap .wts-map .wts-content .col-lg-3:first-child .wts-c-step:before,
  #main .about-us-wrap .wts-map .wts-content .col-lg-3:first-child .wts-c-step:after,
  #main .about-us-wrap .wts-map .wts-content .col-lg-3:last-child .wts-c-step:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    bottom: 100%; }
  #main .about-us-wrap .wts-map .wts-content .col-lg-3:first-child .wts-c-step:before,
  #main .about-us-wrap .wts-map .wts-content .col-lg-3:last-child .wts-c-step:before {
    width: 2px;
    height: 79px;
    background: #fff;
    transform: translateX(-50%); }
  #main .about-us-wrap .wts-map .wts-content .col-lg-3:first-child .wts-c-step:after {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 10px solid #fff;
    transform: translateX(-50%); }
  #main .about-us-wrap .wts-map .wts-content .col-lg-3:last-child .wts-c-step:before {
    display: none; }
  #main .about-us-wrap .wts-map .wts-content .wts-nav-collapse {
    text-align: center;
    margin-top: 15px; }
    #main .about-us-wrap .wts-map .wts-content .wts-nav-collapse ul li {
      position: relative;
      margin-bottom: 15px; }
      #main .about-us-wrap .wts-map .wts-content .wts-nav-collapse ul li:before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        bottom: 100%;
        width: 2px;
        height: 15px;
        background: #fff;
        margin-left: -1px; }
      #main .about-us-wrap .wts-map .wts-content .wts-nav-collapse ul li span {
        display: inline-block;
        padding: 10px 15px;
        background-color: #fff;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
    #main .about-us-wrap .wts-map .wts-content .wts-nav-collapse.opened ul li:before, #main .about-us-wrap .wts-map .wts-content .wts-nav-collapse.opened ul li span {
      background: #f5518a;
      color: #fff; }
  #main .about-us-wrap .wts-map .wts-content .expand-all {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer; }
  #main .about-us-wrap .wts-map.expand .arrow-right,
  #main .about-us-wrap .wts-map.expand .wts-heading .line-no-arrow,
  #main .about-us-wrap .wts-map.expand .wts-heading .line-has-arrow,
  #main .about-us-wrap .wts-map.expand .wts-heading .wts-main-heading,
  #main .about-us-wrap .wts-map.expand .wts-content .col-lg-3:first-child .wts-c-step:before,
  #main .about-us-wrap .wts-map.expand .wts-content .col-lg-3:last-child .wts-c-step:before {
    background: #f5518a;
    color: #fff; }
  #main .about-us-wrap .wts-map.expand .line-has-arrow,
  #main .about-us-wrap .wts-map.expand .wts-heading .wts-main-heading:after,
  #main .about-us-wrap .wts-map.expand .wts-content .col-lg-3:last-child .wts-c-step:before {
    display: block; }
  #main .about-us-wrap .wts-map.expand .arrow-right:before {
    border-left-color: #f5518a; }
  #main .about-us-wrap .wts-map.expand .wts-heading .line-has-arrow:before,
  #main .about-us-wrap .wts-map.expand .wts-heading .wts-main-heading:after {
    border-right-color: #f5518a; }
  #main .about-us-wrap .wts-map.expand .wts-content .col-lg-3:first-child .wts-c-step:after {
    border-top-color: #f5518a; }
  #main .about-us-wrap .wts-map.expand-only.step1 .line-no-arrow, #main .about-us-wrap .wts-map.expand-only.step4 .line-has-arrow, #main .about-us-wrap .wts-map.expand-only.step1 h3.wts-main-heading, #main .about-us-wrap .wts-map.expand-only.step4 h3.wts-main-heading, #main .about-us-wrap .wts-map.expand-only.step1 .wts-content .col-lg-3:first-child .wts-c-step:before, #main .about-us-wrap .wts-map.expand-only.step4 .wts-content .col-lg-3:last-child .wts-c-step:before {
    background: #f5518a;
    color: #fff; }
  #main .about-us-wrap .wts-map.expand-only.step4 .line-has-arrow, #main .about-us-wrap .wts-map.expand-only.step4 .wts-heading .wts-main-heading:after, #main .about-us-wrap .wts-map.expand-only.step4 .wts-content .col-lg-3:last-child .wts-c-step:before {
    display: block; }
  #main .about-us-wrap .wts-map.expand-only.step4 .wts-heading .line-has-arrow:before, #main .about-us-wrap .wts-map.expand-only.step4 .wts-heading .wts-main-heading:after {
    border-right-color: #f5518a; }
  #main .about-us-wrap .wts-map.expand-only.step1 .wts-content .col-lg-3:first-child .wts-c-step:after {
    border-top-color: #f5518a; }

#footer {
  background-color: #93268f;
  padding-top: 30px; }
  #footer .footer-top {
    padding: 80px 0;
    background: transparent url("../img/contact-banner.jpg") no-repeat center center;
    background-size: cover; }
    #footer .footer-top .col-left p {
      color: #fff;
      font-size: 16px;
      margin: 15px 0 0; }
    #footer .footer-top .col-right .box-info {
      background-color: #fff; }
      #footer .footer-top .col-right .box-info .info {
        padding: 20px 15px; }
        #footer .footer-top .col-right .box-info .info img {
          display: block;
          max-width: 200px;
          margin: 0 auto 15px; }
        #footer .footer-top .col-right .box-info .info ul li {
          margin-bottom: 5px;
          text-align: justify; }
          #footer .footer-top .col-right .box-info .info ul li:last-child {
            margin-bottom: 0; }
          #footer .footer-top .col-right .box-info .info ul li i {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            background-color: #93268f;
            font-size: 12px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            margin-right: 10px; }
          #footer .footer-top .col-right .box-info .info ul li strong {
            margin-right: 15px; }
  #footer .footer-middle {
    padding: 60px 0;
    background-color: #fff; }
    #footer .footer-middle .footer-info > * {
      max-width: 280px;
      text-align: justify; }
    #footer .footer-middle .footer-info ul li {
      display: inline-block;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background: #93268f;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
      #footer .footer-middle .footer-info ul li a {
        color: #fff; }
    #footer .footer-middle .footer-menu .footer-nav .title {
      font-weight: 600; }
    #footer .footer-middle .footer-menu .footer-nav ul li a {
      color: #201E20; }
      #footer .footer-middle .footer-menu .footer-nav ul li a:hover {
        color: #f5518a; }
  #footer .footer-bottom {
    padding: 25px 0;
    color: #fff;
    font-size: 16px; }

/*# sourceMappingURL=style.css.map */
